@charset "UTF-8";

@media screen and (min-width: 600px) and (max-width: 992px) {
  /*TABLET*/
  body {
    background-image: linear-gradient(#021024, #052659, rgb(175, 174, 174));
  }

  section#login {
    width: 90vw;
  }
  section#login > div#imagem {
    background-position: center;
    float: left;
    width: 35%;
    height: 100%;
  }
  section#login > div#formulario {
    float: right;
    width: 65%;
  }

  div.campo > input {
    width: 310px;
  }

  form > div.campo > input form > div > .botao {
    margin-left: 23%;
  }

  form > div > .botao {
    margin-left: 90px;
  }
}

@media screen and (min-width: 992px) {
  /*PC*/

  body {
    background-image: linear-gradient(#021024, #052659, rgb(175, 174, 174));
  }
  section#login {
    width: 950px;
  }

  section#login > div#imagem {
    float: right;
    width: 45%;
    height: 100%;
  }

  section#login > div#formulario {
    padding: 20px;
    text-align: center;
    float: left;
    width: 50%;
  }

  div.campo > input {
    width: 350px;
  }
  div#formulario > p {
    font-size: 1.2em;
  }

  form > div > .botao {
    margin-left: 110px;
  }

  form > div.campo > span {
    font-size: 2.5em;
  }

  form > div.campo > input {
    transform: translateY(-14px);
  }
}
