@charset "UTF-8";

/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  section#login {
    width: 90vw;
  }

  section#login > div#imagem {
    float: left;
    width: 50%;
    height: 100%;
  }

  section#login > div#formulario {
    float: right;
    width: 50%;
  }
}
/*Telas grandes*/

@media screen and (min-width: 992px) {
  section#login {
    width: 950px;
  }

  section#imagem {
    float: left;
    width: 50%;
    object-position: bottom;
    background-size: contain;
  }

  section#formulario {
    width: 50%;
  }
  section#login > div#imagem {
    float: left;
    width: 50%;
    height: 100%;
    background-size: cover; /* Faz com que a imagem cubra todo o container */
    background-position: center center; /* Centraliza a imagem no container */
    background-repeat: no-repeat; /* Evita repetição da imagem */
  }
  p {
    text-align: center;
    padding: 10px;
  }
}
