@charset "UTF-8";

/* 
Paleta de cores:
Verde: #49a0d
Lilas: #5f2c82
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*Config geral celular*/
@media screen {
  body,
  html {
    background-color: #1850ca;
    height: 100vh;
    width: 100vw;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  main {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  section#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 600px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 6px 10px rgba(0, 0, 0, 0.616);
  }

  section#login div#imagem {
    display: block;
    background: #224b97 url(../imagens/login-image.png);
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  section#login div#formulario {
    display: block;
    padding: 10px;
  }
  .campo {
    text-align: center;
  }

  .botao {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #224b97;
    color: white;
    border-radius: 5px;
    border: none;
  }
}
